* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main_container {
  height: 100vh;
  display: flex;
}

.left_container {
  background-color: #68009f;
  width: 42%;
  font-size: 19px;
  height: 100%;
}
.right_container {
  position: relative;
  background-color: white;
  width: 58%;
}

.left_container div {
  padding-left: 6%;
  padding-top: 10%;
  color: white;
}

.left_container div h3,
h2,
hr,
p,
h5 {
  margin: 0;
}

.left_container div h2 {
  font-weight: bolder;
  font-size: 2.3rem;
  padding-top: 1%;
}
.left_container div h3 {
  font-weight: bolder;
  font-size: 1.4rem;
}

.left_container div h5 {
  font-weight: bolder;
  font-size: 1.3rem;
  padding-top: 1%;
}

.left_container div hr {
  width: 90%;
  margin-top: 1%;
}

.left_container div p {
  padding-top: 8%;
  font-weight: 500;
}

.navbar {
  padding-right: 1%;
  padding-top: 0.6%;
}

.navbar p {
  float: right;
  display: inline;
  font-size: 0.8rem;
  font-weight: bolder;
}

#n1 {
  padding-right: 1%;
}

#n2 {
  color: #68009f;
}

.sign_in_box {
  /* padding-top: 18%; */
  margin-top: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign_in_box h1 {
  margin: 0;
}

.input_container {
  margin-top: 2%;
}

.input_container input {
  display: block;
  margin-top: 2%;
}

.password_field {
  display: flex;
}

.password_field input {
  width: 18rem;
  height: 1em;
  padding: 1em;
  border: 0;
  font-size: 1rem;
  background-color: #f1eff1;
}

.email_field input {
  width: 18rem;
  height: 1em;
  padding: 1em;
  border: 0;
  font-size: 1rem;
  background-color: #f1eff1;
}

.password_field input::placeholder {
  color: #9e9c9e;
}

.email_field input::placeholder {
  color: #9e9c9e;
}

span {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  right: 25px;
}

.password_field #toggler {
  cursor: pointer;
}

.forget_password {
  width: 17rem;
}
.forget_password h1 {
  margin: 0;
  float: right;
  padding-top: 2%;
  font-size: 0.7em;
  color: #68009f;
  font-weight: bolder;
}

.login_button {
  width: 19.9rem;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.login_button button {
  width: 12em;
  border-radius: 3px;
  margin-top: 4%;
  padding: 0.6em;
  background-color: #b9b7b9;
  color: #757475;
  border: none;
}

.right_container_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.right_container_footer p {
  font-size: 0.8rem;
  font-weight: bolder;
}
#mobile_device_footer {
  display: none;
}

#mobile_navbar {
  display: none;
}

/* Adding Media Queries  */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .right_container_footer {
    display: none;
  }
  #mobile_device_footer {
    display: block;
    text-align: center;
    color: white;
  }

  .left_container div p {
    padding-top: 2%;
  }

  .main_container {
    flex-direction: column;
    background-color: #68009f;
    height: 100%;
  }
  .left_container,
  .right_container {
    width: 100%;
    background-color: #68009f;
  }
  .left_container div {
    padding: 0%;
    padding-top: 5%;
    text-align: center;
  }

  .sign_in_box {
    background-color: white;
    border-radius: 10px;
    /* padding-top: 1%; */
    width: 43%;
    height: 20rem;
    margin: 0 auto;
    margin-top: 2%;
  }

  #laptop_navbar {
    display: none;
  }
  #mobile_navbar {
    display: block;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3%;
    width: 100%;
    justify-content: center;
  }
  #n1_mobile {
    font-weight: bolder;
  }
  #n2_mobile {
    color: #68009f;
    font-weight: bolder;
    padding-left: 5%;
  }
  hr {
    display: none;
  }
  .sign_in_box h1 {
    padding-top: 2%;
  }
}

@media only screen and (max-width: 767px) {
  .right_container_footer {
    display: none;
  }
  #mobile_device_footer {
    display: block;
    text-align: center;
    color: white;
  }

  .left_container div p {
    padding-top: 2%;
  }

  .main_container {
    flex-direction: column;
    background-color: #68009f;
    height: 100%;
  }
  .left_container,
  .right_container {
    width: 100%;
    background-color: #68009f;
  }
  .left_container div {
    padding: 0%;
    padding-top: 5%;
    text-align: center;
  }

  .sign_in_box {
    background-color: white;
    border-radius: 10px;
    width: 55%;
    height: 23rem;
    margin: 0 auto;
    margin-top: 2%;
  }
  #laptop_navbar {
    display: none;
  }
  #mobile_navbar {
    display: block;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 3%;
    width: 100%;
  }
  #n1_mobile {
    font-weight: bolder;
  }
  #n2_mobile {
    color: #68009f;
    font-weight: bolder;
    padding-left: 5%;
  }
  hr {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .sign_in_box {
    width: 60%;
  }

  .email_field input,
  .password_field input {
    width: 15rem;
  }
  .input_container {
    padding-left: 3%;
  }
  #n1_mobile,
  #n2_mobile {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 480px) {
  .left_container {
    font-size: 1.2rem;
  }
  .sign_in_box {
    width: 80%;
  }
}

@media only screen and (max-width: 390px) {
  .sign_in_box {
    width: 90%;
  }
}
